.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    flex: 1 1 auto;
    background: linear-gradient(90deg, #ffbe338d, #fbc65419);
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.mat-toolbar mat-icon {
    color: white;
}

.main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
}

.main-body mat-form-field {
    width: 100%;
}

.main-body h1 {
    font-size: 2.6rem;
    color: #ffbe33;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    margin-bottom: 10px; /* Adds spacing between the button and the table */
}
