<app-spinner *ngIf="isLoading"></app-spinner>
<app-navbar></app-navbar>

<div class="main-body">
    <h1>User Details</h1>
    <div class="button-container">
        <button mat-raised-button (click)="openAddUserForm()" style="background-color: #ffbe33;">ADD USER</button>
    </div>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput #input (keyup)="applyFilter($event)" placeholder="ex. Bhavya">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
                <td mat-cell *matCellDef="let row">{{row.firstname}}</td>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
                <td mat-cell *matCellDef="let row">{{row.lastname}}</td>
            </ng-container>
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
                <td mat-cell *matCellDef="let row">{{row.contact}}</td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                <td mat-cell *matCellDef="let row">{{row.address}}</td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                <td mat-cell *matCellDef="let row">{{row.username}}</td>
            </ng-container>
            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
                <td mat-cell *matCellDef="let row">{{row.password}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="openEditUserDetailsForm(row)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteUserDetail(row.id)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns: displayedColumns"></tr>
            <tr class="mt-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,25,100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>