.example-spacer{
    flex: 1 1 auto;
}

.mat-toolbar{
    flex: 1 1 auto;
    background: linear-gradient(90deg, #ffbe338d,#fbc65419);
    mat-icon{
         color: white;
    }
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.main-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;

    mat-form-field{
        width: 100%;
    }
    h1{
        color:#ffbe33 ;
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        text-align: center;
    }
}