<div mat-dialog-title class="title-container">
    <h2>Add Category</h2>
</div>
<form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <div mat-dialog-content class="content">
        <mat-form-field appearance="outline">
            <mat-label>Category Id</mat-label>
            <input matInput type="number" placeholder="Enter Category Id" formControlName="categoryid">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Category Title</mat-label>
            <input matInput type="text" placeholder="Enter Category Title" formControlName="title">
        </mat-form-field>
        <div class="upload-container">
                <button mat-raised-button color="primary" (click)="onUploadButtonClick($event)">Upload Image</button>
                <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden formControlName="img">
            <div *ngIf="previewUrl" class="preview">
                <img [src]="previewUrl" alt="Image Preview">
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="actions">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="warn" type="submit" [disabled]="categoryForm.invalid">Add</button>
    </div>
</form>