<mat-toolbar *ngIf="ismenurequired" class="tool-bar">
    <div *ngIf=isBackiconrequired class="back-icon">
      <a routerLink="/home"><mat-icon>arrow_back</mat-icon></a>
    </div>
      <a>Hi,{{username}}!!</a>
      <div *ngIf="isAdminLoggedin" class="admin-link">
        <a routerLink="/user-details">User</a>
      </div>   
      <span class="title">FoodWorld</span>
     <span class="example-spacer"></span> 
     <a routerLink="/cart">
      <mat-icon>add_shopping_cart</mat-icon>
     </a>
      <a (click)="logout()">Logout</a>
  </mat-toolbar>
