.title-container {
    text-align: center;
}

.title-container h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #ff7e5f;
    font-size: 2rem; /* Fixed typo: '2 rem' should be '2rem' */
    font-weight: bold;
}

.content {
    padding-top: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.row mat-form-field {
    width: 100%;
}

.actions {
    padding: 0px 25px 20px;
}

.actions button {
    flex: 1;
}
