<app-spinner *ngIf="isLoading"></app-spinner>
<body>
    <div class="headline-container">
        <div class="headline">FoodWorld
        Restaurant</div>
    </div>
    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" placeholder="Enter Username">
                    <mat-error *ngIf="Username?.errors?.['required']">Username is required</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Enter your password">
                    <mat-error *ngIf="Password?.errors?.['required']">Password is required</mat-error>
                </mat-form-field>
                
                <div class="button-group">
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
