.example-spacer {
    flex: 0.5 0.5 auto;
}
.tool-bar{
    flex: 1 1 auto;
    background: linear-gradient(90deg, #ff7e5f,#feb47b);
    mat-icon{
        color: white;
    }
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.title{
    flex-grow: 1;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color:white;
}
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
 .tool-bar a {
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
  }

.tool-bar a:hover{
    color: #c75234;
  }